Source: xivo-build-tools
Section: admin
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo-build-tools
Architecture: all
Depends: ${misc:Depends},
         cdbs,
         dput,
         devscripts,
         dh-python,
         fakeroot,
         git,
         libdistro-info-perl,
         libparse-debcontrol-perl,
         lintian,
         sudo
Description: Wazo Build Tools
 build packages
