Source: xivo-build-tools
Section: admin
Priority: extra
Maintainer: XiVO DEV Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.4

Package: xivo-build-tools
Pre-depends: 
Architecture: all
Pre-Depends: xivo-dev-setuptools
Depends: ${misc:Depends},
         devscripts,
         cdbs,
         dput
Description: XIVO Build Tools
 build packages
